<footer id="footer" class="sixteen columns" data-hook>
  <p><%= Spree.t :powered_by  %> <%= link_to t('Bazaar'), 'http://developers.yellowen.com/products/bazaar' %></p>
  <div id="footer-left" class="columns alpha eight" data-hook>

  </div>
  <div id="footer-right" class="columns omega eight" data-hook>

  </div>
</footer>
